In [1]:
import xlrd # Reading an excel file using Python 


# Give the location of the file 
loc = ("/home/rajaneesh/Downloads/beginner_assignment01.xlsx") 

# To open Workbook 
wb = xlrd.open_workbook(loc) 
sheet = wb.sheet_by_index(0)

In [12]:
import pymysql
pymysql.install_as_MySQLdb()                                #library to access MySQLdb
import MySQLdb
import mysql.connector
db_connection = mysql.connector.connect(                    #connecting to mysql-server
  host="localhost",
  user="root",
  passwd="Rajini@123",
  auth_plugin="mysql_native_password"
)
print(db_connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fd02ca88910>

In [3]:
cursor = db_connection.cursor()                            #cursor to execute mysql queries

In [4]:
# For reading columns
sheet.cell_value(0, 0) 
  
for i in range(sheet.ncols): 
    print(sheet.cell_value(0, i))

Product Name
Model Name
Product Serial No
Group Associated
product MRP (rs.)

In [5]:
# For readind rows
sheet.cell_value(0, 0) 
  
for i in range(sheet.nrows): 
    print(sheet.cell_value(i, 0))

Product Name
Demo Product 1
Demo Product 1
Demo Product 1
Demo Product 1
Demo Product 1
Demo Product 1
Demo Product 1
Demo Product 1
Demo Product 1
Demo Product 1
Demo Product 1
Demo Product 1
Demo Product 1
Demo Product 1
Demo Product 1
Demo Product 1
Demo Product 1
Demo Product 1
Demo Product 1
Demo Product 1
Demo Product 1
Demo Product 1
Demo Product 2
Demo Product 2
Demo Product 2
Demo Product 2
Demo Product 2
Demo Product 2
Demo Product 2
Demo Product 2
Demo Product 2
Demo Product 2
Demo Product 2
Demo Product 2
Demo Product 2
Demo Product 2
Demo Product 2
Demo Product 2
Demo Product 2
Demo Product 2
Demo Product 2
Demo Product 2
Demo Product 2
Demo Product 2
Demo Product 3
Demo Product 3
Demo Product 3
Demo Product 3
Demo Product 3
Demo Product 3
Demo Product 3
Demo Product 3
Demo Product 3
Demo Product 3
Demo Product 3
Demo Product 3
Demo Product 3
Demo Product 3
Demo Product 3
Demo Product 3
Demo Product 3
Demo Product 3
Demo Product 3
Demo Product 3
Demo Product 3
Demo Product 3
Demo Product 4
Demo Product 4
Demo Product 4
Demo Product 4
Demo Product 4
Demo Product 4
Demo Product 4
Demo Product 4
Demo Product 4
Demo Product 4
Demo Product 4
Demo Product 4
Demo Product 4
Demo Product 4
Demo Product 4
Demo Product 4
Demo Product 4
Demo Product 4
Demo Product 4
Demo Product 4
Demo Product 4
Demo Product 4
Demo Product 5
Demo Product 5
Demo Product 5
Demo Product 5
Demo Product 5
Demo Product 5
Demo Product 5
Demo Product 5
Demo Product 5
Demo Product 5
Demo Product 5
Demo Product 5
Demo Product 5
Demo Product 5
Demo Product 5
Demo Product 5
Demo Product 5
Demo Product 5
Demo Product 5
Demo Product 5
Demo Product 5
Demo Product 5

In [6]:
cursor.execute("CREATE DATABASE assignment1") #assignment1 is the name of the database which needs to be created

In [7]:
cursor.execute("SHOW DATABASES")

for x in cursor:
  print(x)

('Assignment1',)
('Assugnment1',)
('Exceldb',)
('Myssignment',)
('PythonMysql',)
('assignment',)
('assignment1',)
('information_schema',)
('mysql',)
('performance_schema',)
('pyMysql',)
('pythonmysql',)
('sys',)

In [13]:
import pandas as pd
from pandas.io import sql
from sqlalchemy import create_engine

df = pd.read_excel('/home/rajaneesh/Downloads/beginner_assignment01.xlsx')
print(df)

engine = create_engine('mysql://root:Rajini@123@localhost/assignment1')
with engine.connect() as conn, conn.begin():
    df.to_sql('Table1', conn, if_exists='replace')

       Product Name       Model Name  Product Serial No Group Associated  \
0    Demo Product 1  Product Model 1     98765987659801          Group 1
1    Demo Product 1  Product Model 1     98765987659802          Group 2
2    Demo Product 1  Product Model 1     98765987659803          Group 3
3    Demo Product 1  Product Model 1     98765987659804          Group 4
4    Demo Product 1  Product Model 1     98765987659805          Group 5
..              ...              ...                ...              ...
105  Demo Product 5  Product Model 5     98765987659418         Group 18
106  Demo Product 5  Product Model 5     98765987659419         Group 19
107  Demo Product 5  Product Model 5     98765987659420         Group 20
108  Demo Product 5  Product Model 5     98765987659421         Group 21
109  Demo Product 5  Product Model 5     98765987659422         Group 22

     product MRP (rs.)
0                 1001
1                 1002
2                 1003
3                 1004
4                 1005
..                 ...
105              11018
106              11019
107              11020
108              11021
109              11022

[110 rows x 5 columns]